@import url("https://fonts.cdnfonts.com/css/games");

:root {
  --main-background: #b6f0fd;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
}

.image-container {
  position: relative;
  height: 100vh;
}

.big-mountain {
  background: url("/assets/backBigMountain.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  top: 100px;
  width: 100%;
  height: 500px;
}

.small-mountain {
  background: url("/assets/backSmallMountain.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  position: absolute;
  right: 0;
  bottom: 70px;
  z-index: 1;
  width: 100%;
  height: 450px;
}

#game-screen > .small-mountain {
  animation: runSmallMountain 5s linear infinite;
}

.running-platform {
  background: url("/assets/platform.png");
  position: absolute;
  z-index: 2;
  width: 100%;
  bottom: 0;
  right: 0;
  height: 170px;
  background-size: cover;
}

#game-screen > .running-platform {
  animation: run 5s linear infinite;
}

.character {
  position: absolute;
  bottom: 130px;
  left: 60px;
  z-index: 3;
  transition: bottom 0.4s ease 0s;
}

.image-container > h1 {
  font-family: "Games", sans-serif;
  color: #b6f0fd;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 10px;
  text-shadow: 0px 1px 20px #160808;
}

.button {
  font-family: "Games", sans-serif;
  color: #b6f0fd;
  background-color: #011c41;
  font-weight: 400;
  padding: 10px;
}

.start-btn {
  position: absolute;
  font-size: 30px;
  z-index: 3;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}

#game-container {
  display: none;
}

.scoreLives-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.score {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px;
  gap: 20px;
}
.score-wrapper {
  color: red;
}
.score-img {
  width: 50px;
}

#lives {
  margin-top: 20px;
}

.lives-img {
  width: 50px;
}

.snow-man {
  border-radius: 20%;
  box-shadow: rgba(233, 230, 53, 0.076) 0px 30px 60px -12px inset;
}

#game-screen > .big-mountain {
  animation: runBigMountain 5s linear infinite;
}

.restart-btn {
  position: absolute;
  font-size: 30px;
  z-index: 3;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
}

#game-end > h1 {
  font-family: "Games", sans-serif;
  color: #b6f0fd;
  font-size: 80px;
  font-weight: 400;
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  margin: 10px;
  text-shadow: 0px 1px 20px #160808;
}

@keyframes run {
  0% {
    background-position: 2000px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes runBigMountain {
  0% {
    background-position: 200px 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes runSmallMountain {
  0% {
    background-position: 500px 0;
  }
  100% {
    background-position: 0 0;
  }
}

#game-screen {
  width: 100%;
}
